.chevronButton {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.chevronButton.left img {
  transform: rotate(180deg);
}
.chevronButton.disabled img {
  opacity: 0.4;
}
